@import './../../scss/variables';

.current-weather-box {
  text-align: center;

  .type-city {
    color: $color-white;
    font-size: 2.375rem;
    font-weight: 900;
    @include shadow(medium);
  }

  .temp-icon {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    color: $color-white;
    font-size: 4.75rem;
    font-weight: 900;
    @include shadow(medium);
  }

  .weather-state {
    font-family: 'Archivo', sans-serif;
    text-transform: capitalize;
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 700;
    @include shadow(medium);
  }
}