@import './scss/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  .app {
    background: linear-gradient(15deg,
        $color-cold-secondary 0%,
        $color-cold-primary 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    main {
      min-height: 100vh;
      padding: 1.5625rem;
    }
  }

  .warm {
    background: linear-gradient(15deg,
        $color-warm-secondary 50%,
        $color-warm-primary 100%);
  }
}