$color-warm-primary: #fd803f;
$color-warm-secondary: #f9445a;
$color-cold-primary: #2f93cc;
$color-cold-secondary: #4c19c6;
$color-gray-med: #313131;
$color-gray-dark: #323246;
$color-white: #fff;
$color-black: #000;

@import url('https://fonts.googleapis.com/css?family=Archivo:700&display=swap');



@mixin font() {
    font-family: 'Archivo', sans-serif;
    color: $color-white;
}

@mixin shadow($size) {
    @if $size==thin {
        text-shadow: 0.0625rem 0.0625rem 1rem rgba($color: $color-gray-dark, $alpha: 0.5);
    }

    @else if $size==medium {
        text-shadow: 0.125rem 0.125rem 1rem rgba($color: $color-gray-dark, $alpha: 0.5);
    }

    @else if $size==strong {
        text-shadow: 0.1875rem 0.1875rem 1rem rgba($color: $color-gray-dark, $alpha: 0.5);
    }
}